.header{
    /* background-image: url("partlycloudy.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: cover; */
    /* background-color: chocolate; */
    background-position: ;
    width: max-content          ;
    padding: 10px 20px 0px 20px;
    /* padding-bottom: 0px; */
    margin: -8px;
    text-align: center;
    margin-bottom: 0px;
    color: white;
}

h1{
    font-family: 'Garamond';
}

body{
    /* background-image: url("sunny.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Garamond';
    color: white;
    background-image: url(Images/bgi.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.frosted{
    position: relative;
    margin: 40px 30% 40px 30%; 
    box-sizing: content-box;
    background: rgba(255,255,255,0.322);
}

@supports (backdrop-filter: none){
    .frosted{
        background: rgba(255,255,255,0.0052);
        backdrop-filter: blur(8px);
    }
}

.frosted table{
    padding: 20px 40px 10px 30px;
    border-spacing: 5px;
}

input{
    padding: 3px;
    width: 280px;
    background-color: transparent;
    color: white;
    outline-style: none;
    border-color: transparent;
    font-size: medium;
}

label.seperate{
    color: white;
    /* text-align: center; */
    padding-left: 80px;

}

select#city-name{
    margin-left: 105px;
}

table label{
    color: white;
}

p{
    padding-bottom: 10px;
}

table th td{
    width: 300px;
}

select{
    width: 200px;
    padding: 5px;
    margin: 10px 10px 10px 80px; 
    background-color: transparent;
    color: white;
    font-size: medium;
    outline-style: none;
    border: 2px grey solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

select option{
    background-color: grey;
    /* width: inherit; */
    /* padding: 2px */
    /* width: 119000px; */
}

.selector{
    appearance: none;
    line-height: 1em;
    /* width: inherit; */
}


.selector:hover::after{
    background-color: darkgrey;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}